footer{
    background-color: nth($paleta-colores, 1);
    color: nth($paleta-colores, 3);
    padding: 25px;
    h2{
        color: nth($paleta-colores, 3) ;
    font-size: nth($font-size, 4);
    font-weight: 900;
    span{
        color: rgba(47, 47, 47, 0.852);
    }
    }
    div{
        a{
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
}
footer{
    @include flex2(flex, space-between, center)
}
