//HEADER
header{
    background-color: $color-secundario;
    padding: 25px 15px 25px 15px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    h1{
        color: $color-terciario;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
        span{
            color: $color-primario;
        }
    }
    nav{
        ul{
            list-style: none;
            display: flex;
            li{
                a{
                    text-decoration: none;
                    color: $color-terciario;
                    &:hover{
                        color: $cuarto-color;
                    }
                }
                margin: 10px
            }
        }
    }
}
