.diseños{
    width: 100%;
    height: calc(100vh - 130px);
    background-image: url(../img/herreria.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        display: inline-block;
    font-size: 70px;
    border: 2px white solid;
    padding: 15px;
    }
    p{
        font-size: 30px;
    margin-bottom: 10px;
    }
}