.carrusel{
    img{
        width: auto;
    height: 625px;
    }
}
.diseños{
    width: 100%;
    height: calc(100vh - 130px);
    background-image: url(../img/herreria.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        display: inline-block;
    font-size: 70px;
    border: 2px white solid;
    padding: 15px;
    }
    p{
        font-size: 30px;
    margin-bottom: 10px;
    }
}
.bienvenidos{
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        width: 50%;
        h2{
            font-size: 35px;
            span{
                color: rgba(47, 47, 47, 0.852);
            }
        }
        p{
            font-size: 20px;
        }
    }
    img{
        width: 600px;
        height: 500px;
    }
}
.producto{
    h2{
        background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    }
}
.producto .card-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    div{
        width: 250px;
        height: 350px;
        border: 2px solid black;
        background-color: burlywood;
        color: white;
        text-align: center;
        margin: 20px;
        box-shadow: 10px 10px 28px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 28px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 28px 2px rgba(0,0,0,0.75);
    }
}